@import '/src/assets/styles/variables.scss';

.footer {
    width: 100%;
    height: 80px;
    padding: 0 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-top: 1px solid $mainBlue;


    &__school-img {
      background: url(../../../../src/assets/img/rs_school_js.svg) center no-repeat;
      width: 140px;
      height: 52px;
      background-size: contain;
      transition: transform 0.2s;

      &:hover {
        transition: transform 0.2s;
        transform: rotate(3deg);
      }
    }
  }

  .github-link {
    color: $black;
  }
