@import '/src/assets/styles/variables.scss';


.modal-main {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 260px;
    height: 100px;
    background-color:$white;
    border: 1px solid $mainBlue;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    z-index: 5;

    align-items: center;
    justify-content: space-evenly;

    &__project-name {
      width: 220px;
      height: 30px;
      border-radius: 6px;
      border: 1px solid $borderBlueLight;

      &:focus {
        outline-offset: 0;
        outline: 0;
        border: 1px solid $mainBlueHover;
      }
    }

    &__btn-create-project {
      width: 220px;
      height: 30px;
      border-radius: 6px;
      border: 1px solid $borderBlueLight;
      background: $mainBlue;
      color: $white;
      transition: transform 0.3s;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.2s;

      &:hover {
        cursor: pointer;
        background: $mainBlueHover;
      }

      &:active {
        transform: scale(0.98);
        transition: transform 0.1s;
      }

      &:disabled {
        background: none;
        color: $greylight;
        cursor: default;
        transform: none;
      }

    }
}