@import "/src/assets/styles/variables";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 100%;
  background-color: $mainBlue;
  color: $mainBg;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  user-select: none;
  cursor: pointer;
  border: none;
  transition: 0.3s transform, 0.3s background;

  &:disabled {
    cursor: default;
  }

  &:not(:disabled):active {
    transition: 0.3s transform;
    transform: scale(97%);
  }

  &:not(:disabled):hover {
    transition: 0.3s background;
    background: $mainBlueHover;
  }

  &__loading{
    border: 3px solid rgba(109, 130, 255, 0.2);
    border-top: 3px solid $mainBlueHover;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-left: 7px;
    transition: margin-left 0.3s ease-in-out;
    animation: spin 1s linear infinite;
  }
}

.button_round {
  border-radius: 50px;
}
