@import "/src/assets/styles/variables";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 100%;
  background-color: $mainBlue;
  color: $mainBg;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  user-select: none;
  cursor: pointer;
  border: none;
  transition: 0.3s transform, 0.3s background;

  &:disabled {
    cursor: default;
  }

  &:not(:disabled):active {
    transition: 0.3s transform;
    transform: scale(97%);
  }

  &:not(:disabled):hover {
    transition: 0.3s background;
    background: $mainBlueHover;
  }

  // @media screen and (max-width: 1100px) {
  //   margin: 0 auto;
  // }
}

.button_round {
  border-radius: 50px;
}

.header__user {
  width: 40px;
  height: 40px;
  font-weight: 400;
  border-radius: 50%;
  font-size: 16px;
  color: $white;
  background: $mainBlue;
}
