@import "/src/assets/styles/variables";

.main-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
}

.main {

  &__section {
    width: 75%;
  }

    &__img {
    position: absolute;
    bottom: -35px;
    right: 0px;
    background: url(../../assets/img/main_page_img.png) no-repeat center;
    width: 425px;
    height: 284px;
    }

}

