@import '/src/assets/styles/variables.scss';

.auth {
    &-main {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 100%;
        padding: 50px 0;

        .button-sign-up {
            width: 86%;
            padding: 8px;
        }
    }

    &-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 68px 25px;
        width: 30%;
        min-height: 500px;
        gap: 32px;
        border-radius: 10px;
        background-color: $white;
        filter: drop-shadow(0px 5px 20px rgba(109, 110, 111, 0.25));
    }

    &-img {
        position: absolute;
        left: 24px;
        bottom: 0;
        width: 25%;
        height: 390px;
        background-image: url('../../assets/img/login_img.png');
        background-repeat: no-repeat;
    }

    &-span {
        font-size: 24px;
    }
}

.show-auth-section {
  animation: anim-show-auth-section 0.8s cubic-bezier(.36,-0.08,.50,1);
}
.show-auth-img {
  animation: anim-show-auth-img 0.7s cubic-bezier(.47,.5,0, 1);
}