@import '/src/assets/styles/variables';

.projects {
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 30px;
  }
}

.project-row {
  display: flex;
  gap: 20px;
  padding: 10px 0;
  align-items: center;
  height: 60px;
  border-top: solid 1px rgba($mainBlue, 0.3);

  &:last-child {
    border-bottom: solid 1px rgba($mainBlue, 0.3);
  }

  &__icon {
    background: url("../../../assets/img/projects__logo.svg");
  }

  &__icon, &__icon_new  {
    background-size: contain;
    width: 40px;
    height: 40px;
  }

  &__icon_new {
    background: url("../../../assets/img/new-project.svg");
    background-size: contain;
    width: 40px;
    height: 40px;

    &:hover {
      cursor: pointer;
      scale: 1.03;
      transition: ease-in-out;
    }
  }

  &__name {
    font-weight: 600;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  &__name, &__name_new {
    font-size: 1.3rem;
    font-weight: 600;

  }

  &__name_new {
    color: $greyDark;

    &:hover {
      cursor: pointer;
      color: $mainBlueHover;
    }
  }
}

.row-members {
  display: flex;
  margin-left: auto;

  &__member:not(:first-child) {
    margin-left: -10px;
  }
}
