@import "src/assets/styles/variables";

.members-page {
  &__container {
    display: flex;
    height: 100%;
    width: 100%;
  }

  &__content {
    padding: 35px 35px 100px 35px;
    font-family: "Roboto", sans-serif;
    width: 100%;
  }
}

