@import "/src/assets/styles/variables";

.aside {

    &__container {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        gap: 15px;
        min-height: 100%;
        width: 240px;
        background: $asideBg;
        border-right: 1px solid $borderBlueLight;
        font-family: "Roboto", sans-serif;
        flex-shrink: 0;
    }

    &__projects {
        overflow: auto;
    }

    &__tasks-team {
        height: 100%;
    }

    &__tasks-team,
    &__projects {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.tasks-team,
.projects__my-projects,
.tasks-home {
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    padding-left: 25px;
}

.tasks-team, .tasks-home {
    &:hover {
        cursor: pointer;
        background: $asideHover;
    }
}

.projects__item {
    font-size: 18px;
}

.tasks-home {
    display: flex;
    align-items: center;
    gap: 10px;

    &__icon {
        background: url("../../assets/img/home.svg") no-repeat center;
        width: 20px;
        height: 20px;
        background-size: contain;
    }
}

.tasks-team {
    display: flex;
    align-items: center;
    gap: 10px;

    &__logo {
        background: url(../../../src/assets/img/tasks-team__logo.svg) no-repeat center;
        width: 20px;
        height: 20px;
        background-size: contain;
    }
}

.projects {

    &__my-projects {
        display: flex;
        align-items: center;
        padding-top: 8px;
        gap: 10px;
        border-top: solid 1px $borderBlueLight;
    }

    &__logo {
        background: url(../../../src/assets/img/projects__logo.svg) no-repeat center;
        width: 20px;
        height: 20px;
        background-size: contain;
    }

    &__plus {
        background: url("../../assets/img/plus.svg") center no-repeat;
        background-size: contain;
        width: 26px;
        height: 26px;
        line-height: 32px;

        &:hover {
            cursor: pointer;
            background-color: $asideHover;
            border-radius: 6px;
            transition: 0.2s all;
        }
    }

    &__list {
        margin: 0;
        padding: 0;
        overflow: auto;
    }

    &__item {
        font-size: 14px;
        transition: 0.2s all;
        line-height: 36px;

        &:hover {
            cursor: pointer;
            background-color: $asideHover;
            transition: 0.2s all;
        }

        & > a {
            display: flex;
            padding-left: 55px;
            line-height: 30px;
        }
    }
}
