@import "src/assets/styles/variables";

.column-list-item {

  &__header-settings-container {
    min-width: 281px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &__header {
    color: #000;
    font-weight: 700;
    font-size: 16px;
  }

  &__setings {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EBECF0 url(./../../assets/img/dat_dat_dat.svg) no-repeat center;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
    top: 40px;
    z-index: -1;
  }

  &__content-wrapper {
    overflow: hidden auto;
    background-color: #EBECF0;
    height: calc(100% - 30px);
    min-height: 150px;
    padding: 12px 10px;
    border-radius: 6px;
    box-shadow: -3px 0px 12px -8px rgba(34, 60, 80, 0.4);
    position: relative;
  }

  &__btn-add-task-plus {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.04);
      transition: transform 0.2s ease-in-out;
    }

    &:active {
      transform: scale(1);
      transition: transform 0.1s ease-in-out;
    }
  }

  &__task-container {
    position: relative;
    width: 265px;
    height: 100px;
    background-color: #fff;
    border-radius: 6px;
    margin-bottom: 15px;
    box-shadow: -3px 0px 12px -6px rgba(34, 60, 80, 0.4);
  }

  &__task-logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  &__calendar-settings-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  &__calendar {
    border: 1px solid rgba(73, 75, 244, 0.5);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: url(../../assets/img/clarity_date-line.svg) no-repeat center;
    transition: transform 0.2s ease-in-out;


    &:hover {
      cursor: pointer;
      transform: scale(1.08);
      transition: transform 0.2s ease-in-out;
    }

    &:active {
      transform: scale(1);
      transition: transform 0.1s ease-in-out;
    }
  }


  &__settings {
    width: 20px;
    height: 20px;
    background: url(../../assets/img/settinfg_add_task.svg) no-repeat center;
    transition: transform 0.2s ease-in-out;


    &:hover {
      cursor: pointer;
      transform: scale(1.08);
      transition: transform 0.2s ease-in-out;
    }

    &:active {
      transform: scale(1);
      transition: transform 0.1s ease-in-out;
    }
  }
}

.column-list-item__header-settings-container:hover > .column-list-item__setings {
  top: 0px;
  transition: 0.3s all;
}
