@import '/src/assets/styles/variables.scss';

.header__user {
    width: 40px;
    height: 40px;
    border: 1px solid $greylight;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    background: $mainBlue;
    transition: 0.3s background, 0.3s transform;

    // visibility: hidden;

    &:hover {
      cursor: pointer;
      background: $mainBlueHover;
      transition: 0.3s background;
    }
    &:active {
        transform: scale(0.95);
        transition: 0.3s transform;
    }
}