@import '../../assets/styles/variables.scss';

.welcome-wrapper {
   min-height: 900px;
   background-color: $mainBg ;

  @media screen and (max-width: 1100px) {
    min-height: 1000px;
  }
}

.welcome-content {
  position: relative;
  top: 155px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 1100px) {
    flex-direction: column;
  }

  &__left {
    width: 460px;
  }

  &__header {
    font-size: 64px;
    color: $black;
    margin-bottom: 80px;

    @media screen and (max-width: 1100px) {
      text-align: center;
    }
  }
  
  &__btn {
    width: 170px;
    height: 60px;
    background: $mainBlue;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-weight: 500;
    font-size: 24px;

    cursor: pointer;
    transition: 0.3s transform, 0.3s background ;

    &:active {
      transition: 0.3s transform;
      transform: scale(97%);
    }

    &:hover {
      transition: 0.3s background;
      background: $mainBlueHover;
    }
  
    @media screen and (max-width: 1100px) {
      margin: 0 auto;
    }
   }
  
  &__img {
    background: url(../../../src/assets/img/welcome_img.png) center no-repeat;
    width: 640px;
    height: 413px;
  }
}