@import '/src/assets/styles/variables.scss';


.lang-switcher__button {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $mainBlue;
    cursor: pointer;
    font-weight: 500;
    background: rgba($mainBlue, 0.1);
    transition: 0.3s background, 0.3s transform;
    border: none;

    &:hover {
      background: rgba($mainBlue, 0.15);
      transition: 0.3s background;
    }

    &:active {
      transform: scale(0.95);
      transition: 0.3s transform;
    }
}