@import './../../assets/styles/variables.scss';

.task {
  &-wrapper {
    @at-root {
      div#{&} {
        justify-content: right;
        padding: 0;
      }
    }
  }

  &-title-input {
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: 24px;
    font-weight: 700;

    &:active, &:focus {
      outline: none;
    }
  }

  &-section {
    animation: task-block 0.4s cubic-bezier(.92,.14,.4,.57);

    @at-root {
      div#{&} {
        height: 100%;
        min-height: 100%;
        margin: 0;
        padding: 0 35px;
        border-radius: 0;
        overflow-y: scroll;

        .deadline {
          align-self: start;
        }

        .assignee-info,
        .deadline-info {
          display: flex;
          justify-content: left;
          align-items: center;
          gap: 10px;
        }

        .delete-button {
          border: none;
          background-color: transparent;
          width: 20px;
          height: 20px;
          padding: 3px;
      
          transition: background 0.2s ease-in-out;

          &:not(:disabled):hover {
            cursor: pointer;
            background-color: $borderBlueLight;
            transition: background 0.2s ease-in-out;
          }
        }

        .delete {
          width: 15px;
          height: 15px;
          position: relative;

          &::before,
          &::after {
            content: "";
            position: absolute;
            left: 6.5px;
            bottom: 1px;
            transform: rotate(45deg);
            height: 12px;
            width: 1px;
            border-radius: 1px;
            background-color: $black;
          }

          &::after {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }

  &-main {
    @at-root {
      div#{&} {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100%;
      }
    }
  }

  &-management {
    display: flex;
    justify-content: right;
    gap: 15px;
    flex-wrap: wrap;
  }

  &-button {
    max-width: 130px;
    margin: 0;
    padding: 6px 8px;
    border: 1px solid $greylight;
    font-size: 12px;
    background-color: transparent;
    color: $black;
    line-height: 14px;
    font-weight: 400;
    transition: 0.3s background, 0.2s color, 0.3s border-color;

    &:not(:disabled):hover {
      background-color: transparent;
      color: $red;
      border-color: red;
      transition: 0.3s background, 0.2s color, 0.3s border-color;
    }
  }

  &-info {
    display: grid;
    grid-template-columns: 120px auto;
    justify-items: start;
    align-items: center;
    gap: 30px 20px;
  }

  &-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #edeae9;

    &-textarea {
      min-height: 100px;
    }
  }

  &-comments {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    height: 100%;
    min-height: 150px;
    padding: 0;
    margin: 0;
  }
}

.no-comments {
  min-height: 150px;
  align-self: center;
  font-size: 12px;
  color: $greylight;
}

.comment {
  &-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 15px;
    border-top: 1px solid #edeae9;
  }

  &-button {
    align-self: flex-end;
    width: auto;
    height: 30px;
    font-size: 14px;

    &:disabled {
      cursor: default;
      opacity: 0.5;
    }
  }
}

.task-hide {
  animation: task-hide 0.4s ease-in-out;
}

