@import '/src/assets/styles/variables.scss';

.modal-overl {
  
}

.modal-main {
  width: 260px;
  height: 100px;
  background-color:$white;
  border: 1px solid $mainBlue;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  z-index: 5;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: -13px 18px 13px -21px rgba(34, 60, 80, 0.56);


  &__project-name {
    width: 235px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid $borderBlueLight;

    &:focus {
      outline-offset: 0;
      outline: 0;
      border: 1px solid $mainBlueHover;
    }
  }

  &__btn-create-project {
    width: 235px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid $borderBlueLight;
    background: $mainBlue;
    color: $white;
    transition: transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;

    &:hover {
      cursor: pointer;
      background: $mainBlueHover;
    }
    
    &:active {
      transform: scale(0.98);
      transition: transform 0.1s;
    }

    &:disabled {
      background: none;
      color: $greylight;
      cursor: default;
      transform: none;
    }
  }
}