.login {
    &-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 32px;

        .input-login {
            width: 86%;
        }

        .button-login {
            width: 86%;
            padding: 8px;
        }
    }

    &-title {
        font-weight: 400;
        margin: 0;
    }
}