@import '/src/assets/styles/normalize.css';
@import '/src/assets/styles/variables.scss';

body {
  background-color: $mainBg;
}

html, body, #root, .app {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & > * {
    flex: 0 0 auto;
  }

  &__content {
    flex-grow: 1;
  }
}

._container {
  max-width: 1440px;
}

html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
}




