@import url('./assets/normalize.css');

html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
}

.App {
  max-width: 1440px;
}

.temporal-div {
  height: 200px;
  position: relative;
  padding-top: 200px;
  text-align: center;
  font-size: 40px;
}





