@import '/src/assets/styles/normalize.css';
@import '/src/assets/styles/variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $mainBg;
  color: $mainBlack;
  font-weight: 400;
  font-size: 1rem;
}

html,
body,
#root,
.app {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &>* {
    flex: 0 0 auto;
  }

  &__content {
    flex-grow: 1;
  }
}

._container {
  max-width: 1440px;
}

html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $mainBlue;
}

::-webkit-scrollbar {
  width: 5px;
}