@import 'src/assets/styles/animation';
@import './fonts.scss';


$black: #000;
$white: #fff;
$greylight: #D9D9D9;
$mainBlue: #494bf4;
$mainBlueHover: #5464e3;
$mainBg: #f5f5f7;
$mainBlack: #1e1f21;
$mainTextWhite: #f9f9ff;
$gray: #cfcbcb;
$borderBlueLight: #5464e333;


