@import 'src/assets/styles/animation';
@import './fonts.scss';

$asideBg: #6d82ff0a;
$asideHover: #6d82ff33;
$asideLink: #d5dafa;
$black: #000;
$borderBlueLight: #5464e333;
$gray: #cfcbcb;
$greyDark: #989797;
$greylight: #d9d9d9;
$lightGreen: #d4ffd4;
$ligthRed: #ffc6cf;
$mainBg: #f5f5f7;
$mainBlack: #21232eff;
$mainBlue: #494bf4;
$mainBlueHover: #5464e3;
$mainTextWhite: #f9f9ff;
$red: red;
$white: #fff;
