@import 'src/assets/styles/variables';

.my-tasks-task-list {
  &__item {
    border-bottom: 1px solid $borderBlueLight;
    height: 34px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    overflow: visible;
    position: relative;
    transition: box-shadow 0s ease-in;
    white-space: nowrap;

    &:first-child {
      border-top: 1px solid $borderBlueLight;
    }
  }

  &__name {
    font-weight: 500;
    max-width: 250px;
    overflow-y: hidden;
    font-size: 0.9rem;

    &:hover {
      color: $mainBlueHover;
      cursor: pointer;
    }
  }

  &__project {
    max-width: 100px;
    overflow: hidden;
    padding: 3px 8px;
    font-size: 0.9rem;
    background-color: $greylight;
    border-radius: 8px;
  }

  &__dueDate {
    display: inline-block;
    min-width: 60px;
    text-align: end;
  }
}
