@import 'src/assets/styles/variables';

.my-tasks {

  &__container {
    height: fit-content;
    flex: 1;
    display: flex;
    max-width: 500px;
    border-radius: 6px;
    border: solid 1px $borderBlueLight;
    background-color: $white;
    max-height: 700px;
    min-height: 200px;
    padding: 1.3rem;
    box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.1);
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
}

.my-tasks-content {

  &__header {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 0;
  }

  &__tabs {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__task-list {
    flex: 1;
    overflow-x: hidden;
    padding: 0 5px 5px 5px;
  }
}

.tabs-content {


  &__title {
    margin-bottom: 10px;
  }

  &__tabs-bar {
    display: block;
    margin: 0;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8px;
  }

  &__tab {
    margin: 0;
    display: inline-flex;
    list-style: none;
    flex: 0 1 auto;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;
  }

  &__tab-link {
    color: #6d6e6f;
    font-weight: 500;
    padding: 10px 5px;
    transition: color 0.2s, background 0.2s;

    &:hover {
      cursor: pointer;
      color: $mainBlack;
      transition: color 0.2s;
    }

    &.active {
      background-color: $borderBlueLight;
      border-radius: 6px;
      color: $mainBlack;
      transition: color 0.2s, background 0.2s;
    }
  }
}
